In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cardio_train.csv', sep=';')

In [3]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
df.shape

(70000, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [5]:
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
# Converting age from days to years
df['age_years'] = (df['age'] / 365.25).round(1)
df.drop(columns=['age'], inplace=True)

In [13]:
df.head()

,id,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
0,0,2,168,62.0,110,80,1,1,0,0,1,0,50.4
1,1,1,156,85.0,140,90,3,1,0,0,1,1,55.4
2,2,1,165,64.0,130,70,3,1,0,0,0,1,51.6
3,3,2,169,82.0,150,100,1,1,0,0,1,1,48.2
4,4,1,156,56.0,100,60,1,1,0,0,0,0,47.8

In [14]:
# Removing imposiible blood pressure values
MIN_AP_HI = 60
MAX_AP_HI = 240
MIN_AP_LO = 40
MAX_AP_LO = 160

df_clean = df[(df['ap_hi'] >= MIN_AP_HI) & (df['ap_hi'] <= MAX_AP_HI) & (df['ap_lo'] >= MIN_AP_LO) & (df['ap_lo'] <= MAX_AP_LO)]

In [15]:
# Systolic blood pressure must be always greater than diastolic
df_clean = df_clean[df_clean['ap_hi'] > df_clean['ap_lo']]

In [19]:
df_clean.head()

,id,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
0,0,2,168,62.0,110,80,1,1,0,0,1,0,50.4
1,1,1,156,85.0,140,90,3,1,0,0,1,1,55.4
2,2,1,165,64.0,130,70,3,1,0,0,0,1,51.6
3,3,2,169,82.0,150,100,1,1,0,0,1,1,48.2
4,4,1,156,56.0,100,60,1,1,0,0,0,0,47.8

In [18]:
df_clean.shape

(68669, 13)

In [20]:
print(f'Number of rows lost = {len(df) - len(df_clean)}')

Number of rows lost = 1331

In [21]:
df_clean['gender'] = df_clean['gender'].replace({1: 0, 2: 1})

C:\Users\dhair\AppData\Local\Temp\ipykernel_9312\4001734535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['gender'] = df_clean['gender'].replace({1: 0, 2: 1})

In [22]:
df_clean.head()

,id,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
0,0,1,168,62.0,110,80,1,1,0,0,1,0,50.4
1,1,0,156,85.0,140,90,3,1,0,0,1,1,55.4
2,2,0,165,64.0,130,70,3,1,0,0,0,1,51.6
3,3,1,169,82.0,150,100,1,1,0,0,1,1,48.2
4,4,0,156,56.0,100,60,1,1,0,0,0,0,47.8